<script src="app.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<footer id="footer">
    <!-- Footer Section -->
    <section id="footertxt">
        <h3>About US</h3>
        <a href="https://www.linkedin.com/in/shreyash-jayaswal-70855a211/"> <i class="fab  fa-linkedin fa-3x" hr></i></a>
        <a href="https://www.instagram.com/shreyash_.28/"><i class="fab fa-instagram fa-3x" id="insta"></i></a>

    </section>
    <!-- Footer Section Ends -->
</footer>

</html>