<%- include("header") %>
    <link rel="stylesheet" href="css/styles.css">

    <div class="container-fluid">


        <!--Navigation -->
        <div class="navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand heading" style="font-size: 140%;
                " href="/"><span style="color:red">Covid-19</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link active" href="/tracker">Live Cases</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#protection">Protect</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#symptoms">Symptoms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#do">DO's</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#preventions">Dont's</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#spread">Spread</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Title Section-->
        <section id="title">
            <div class="heading">
                <h1>Everything you need to know about <span style="color: red">Corona Virus</span></h1>
            </div>
            <div class="sub-heading">
                <h2>What is <span style="color: red">corona virus?</span></h2>
            </div>
            <div class="">
                <p class="p">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>
            </div>
            <div class="container">
                <div class="text-center">
                    <img src="/images/home-img.png" class="rounded" alt="" id="home">

                </div>


            </div>
        </section>
        <!-- Title Section Ends -->
        <!-- Tracker Section -->
        <div class="">
            <h1>Covid-19 <span style="color:red;font-weight:bold">TRACKER</span></h1>
            <h3>Provides all the information about Corona Virus Cases accross the Country</h3>
        </div>
        <!-- Tracker Section Ends -->
        <!-- Protect Section -->
        <section id="protection">
            <div class="container-fluid">
                <div class="row">
                    <div class=" heading">
                        <!-- span tag is used to change colour of a part of a text using inline css -->
                        <h1>Take <span style="color:red;font-weight:bold">Steps</span> to <strong>Protect</strong> Yourself</h1>
                    </div>
                    <div class="feature-box col-lg-4" id="">
                        <section class="protectimg">
                            <img src="/images/protect-1.png" class="pimage">
                            <h3>Wear your <span style="color:blue;font-weight:bold">MASK</span></h3>
                        </section>

                    </div>
                    <div class="feature-box col-lg-4">
                        <section class="protectimg">
                            <img src="/images/protect-2.png" class="pimage">
                            <h3>Wash Your Hands Regularly</h3>
                        </section>

                    </div>
                    <div class="feature-box col-lg-4 ">
                        <section class="protectimg"> <img src="/images/protect-3.png" class="pimage">
                            <h3>Maintain Social Distancing</h3>
                        </section>

                    </div>
                </div>
            </div>
        </section>
        <!-- Protect Section Ends -->
        <!-- Symptoms Section -->
        <section id="symptoms">
            <div class="container-fluid">
                <div class="row">
                    <h1>Symptoms of Novel <span style="color:red;font-weight:bold">CoronaVirus</span></h1>
                    <div class="feature-box text-center">
                        <img src="/images/symptoms-img.png" class="img" id="symptomimg">
                    </div>
                    <div class="row row1">
                        <div class="feature-box col-lg-4">
                            <h3>● Fever</h3>
                        </div>
                        <div class="feature-box col-lg-4">
                            <h3>● Runny-Nose</h3>
                        </div>
                        <div class="feature-box col-lg-4">
                            <h3>● Dypsnoea</h3>
                        </div>
                    </div>
                    <div class="row row2">
                        <div class="feature-box col-lg-4">
                            <h3>● Headache</h3>
                        </div>
                        <div class="feature-box col-lg-4">

                            <h3>● Throat-Pain</h3>
                        </div>
                        <div class="feature-box col-lg-4">
                            <h3>● Shaking-Chills</h3>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Symptoms Section Ends -->
        <!-- Prevent Section -->
        <section id="prevention">
            <div class="container-fluid">
                <div class="row">
                    <div class="feature-box col-lg-6">
                        <h1>Things <span style="color:red;font-weight:bold">not to do</span> during Covid</h1>
                        <div class="list">
                            <p style="padding-top: 1rem;">● Do not Share FoodItems</p>
                            <p>● Do not touch your Face or Nose</p>
                            <p>● Do not contact Sick People</p>
                            <p>● Do not touch your face
                            </p>
                            <p>● Do not stockpile on masks
                            </p>
                            <p>● Do not travel unless necessary
                            </p>
                            <p>● Do not go to crowded places
                            </p>
                        </div>
                    </div>
                    <div class="feature-box col-lg-6">
                        <img src="/images/dont-img.png" class="preventionimg">
                    </div>
                </div>
            </div>
        </section>

        <!-- Prevent Section Ends -->
        <!-- HandWash Section -->
        <section id="handwash">
            <div class="container-fluid">
                <h1 class="heading">How to <span style="color:red;font-weight:bold">Wash Your Hands</span> Properly?</h1>
                <section class="handwashimg">
                    <div class="row row1">
                        <div class="feature-box col-lg-4">
                            <span>1</span>
                            <img src="/images/hadnwash-1.png" alt="">
                            <h3>Apply Soap On Hand</h3>
                        </div>
                        <div class="feature-box col-lg-4">
                            <span>2</span>
                            <img src="/images/hadnwash-2.png" alt="">
                            <h3>Palm To Palm</h3>
                        </div>
                        <div class="feature-box col-lg-4">
                            <span>3</span>
                            <img src="/images/hadnwash-3.png" alt="">
                            <h3>Between Fingers</h3>
                        </div>
                    </div>
                </section>

                <div class="row row2">
                    <div class="col-lg-4">
                        <span>4</span>
                        <img src="/images/hadnwash-4.png" alt="">
                        <h3>Back of the Hands</h3>
                    </div>
                    <div class="col-lg-4">
                        <span>5</span>
                        <img src="/images/hadnwash-5.png" alt="">
                        <h3>Clean With Water</h3>
                    </div>
                    <div class="col-lg-4">
                        <span>6</span>
                        <img src="/images/hadnwash-6.png" alt="">
                        <h3>Use Towel to Dry</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- HandWash Section Ends -->
        <!-- Spread Section -->
        <section id="spread">
            <h1>How Covid-19 <span style="color:red;font-weight:bold">Spread</span> over the World</h1>
            <img src="/images/map.png" id="map" alt="">
        </section>
        <!-- Spread Section Ends -->

    </div>
    <%- include("footer") -%>