@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
#svg {
    text-align: left;
    margin-right: 56rem;
}

body {
    text-align: center;
    font-family: 'STIX Two Text', serif;
}

.navigation {
    font-size: 140%;
}

#title {
    padding: 20px;
}

.sub-heading {
    text-align: left;
    padding-top: 10px;
}

p {
    text-align: left;
    font-size: 20px;
}

.image img {
    flex: 1 1 40rem;
    width: 100%;
}

#protection {
    padding: 20px;
}

#protection .heading {
    padding-bottom: 40px;
}

.pimage {
    padding-bottom: 20px;
}

.row1 {
    padding-bottom: 40px;
    padding-top: 40px;
}

.sheading {
    text-align: center;
}

.simage {
    width: 100%;
}

.preventionimg {
    width: 100%;
}

#prevention {
    padding: 20px;
}

.preventionimg {
    position: relative;
    width: 80%;
    height: 100%;
}

#footer {
    background: #e23737;
    height: 200px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 20px;
}

#spread {
    margin: 2rem 2rem;
}


/* #symptomimg {
    padding-left: 24rem;
    margin-top: 2rem;
}
 */

#home {
    width: 50%;
    height: auto;
}

#insta {
    padding-left: 1.25rem;
}

#footertxt {
    text-align: center;
    justify-content: left;
    padding-top: 2.5rem;
    margin-bottom: 0%;
}

.protectimg {
    padding-bottom: 2rem;
}

.protectimg:hover,
.protectimg:focus,
.protectimg:active {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#tactive {
    padding: 2rem 0;
    border-radius: 10%;
    opacity: 1;
    background: rgba(0, 123, 255, 0.125);
}

#tdecease {
    background-color: rgba(209, 19, 19, 0.925);
    padding: 2rem 0;
    border-radius: 10%;
}

.list p {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 1rem;
}

.theading {
    padding-bottom: 30px;
}

.tcases {
    text-align: center;
}

.tcol1:hover {
    background-color: #b40c0c;
}

.tcol2:hover {
    background-color: #7DEDFF;
}

.tcol3:hover {
    background-color: grey;
}

.tcol4:hover {
    background-color: #66DE93;
}

.stateheading {
    text-align: left;
    background-color: grey;
    border: 2px;
    margin: 1px;
    margin-bottom: 15px;
}

#state {
    padding-top: 20px;
    background-image: url(https://images.unsplash.com/photo-1584118624012-df056829fbd0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80);
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}